*.log
*.zip
.DS_Store
README 2.md
.env
.env.backup
.env.production
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/node_modules
/.npm
/apps/web/dist
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal
Thumbs.db
